.Top {
    width: 100%;
    height: 30px; /* Ajusta la altura según tus necesidades */
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.custom-button-idioma {
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    padding: 0.5rem 1rem; /* Ajustar el padding según tus necesidades */
    font-size: 14px; /* Ajustar el tamaño de la fuente según tus necesidades */
}
